.idea
*.conf
App/Config/*.toml
App/Config/config*
App/Config/*
!App/Config/preserving_directory
composer.lock
*.log
vendor
/test
*.zip
*.html
test*.*
App/Result/*

#save
GoogleAuthenticator

App/Image/*

*.jpg

